# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
.venv/

# Entrenamiento
models/
tensorboard/
results/

# SUMO
*.log
sumo/*.log

# IDE
.vscode/
.idea/
*.swp

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Datos grandes (ya están en el repo)
# sumo/network.net.xml
# sumo/routes.rou.xml
# sumo/map.osm
